/*----------font*/
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

body {
    font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: black;
    color: whitesmoke;
}

/*----------Colors*/
.center {
    text-align: center;
}


/*----------messages*/

.flash {
    line-height: 2;
}

.errorMsg {
    color: orangered;
}

/*----------nav-bar*/

.navbar {
    background-color: black;
}

.nav-item {
    padding-right: 10px;
}

.logo-block {
    padding-right: 10px;
}

.logo {
    font-size: 30px;
    color: white;
    text-decoration: none;
}


.logo:hover {
    color: white;
}

.navbar i {
    color: white;
}

.nav-item a {
    color: white;
}

.search-btn {
    color: white;
    border-color: white;
    margin-right: 15px;
    border-width: 2px;

}

.search-btn:hover {
    border-color: orangered;

}

header {
    background-color: black;
}

header.masthead {
    margin-bottom: 50px;
    background: no-repeat center center;
    background-color: #868e96;
    background-attachment: scroll;
    position: relative;
    background-size: cover;

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes hero-zoom {
    from {
        transform: scale(1.0);
    }

    to {
        transform: scale(1.1);
    }
}

header.masthead .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #212529;
    opacity: 0.5;
}

header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
    padding: 200px 0 150px;
    color: white;
}

@media only screen and (min-width: 768px) {

    header.masthead .page-heading,
    header.masthead .post-heading,
    header.masthead .site-heading {
        padding: 200px 0;
    }
}


@media only screen and (min-width: 768px) {

    header.masthead .page-heading h1,
    header.masthead .site-heading h1 {
        font-size: 80px;
    }
}



header.masthead .post-heading .subheading {
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0 30px;
    font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}



header.masthead .post-heading .meta a {
    color: white;
}

@media only screen and (min-width: 768px) {
    header.masthead .post-heading h1 {
        font-size: 55px;
    }

    header.masthead .post-heading .subheading {
        font-size: 30px;
    }
}

.hvr-underline-reveal:before {
    background: orangered;
}

/*----------recipe page*/

.recipe-block {
    padding: 15px;
    border: 2px solid orangered;
}

.recipe-block i {
    color: orangered;
}

.recipe-photo {
    width: 100%;
}

/*----------register page*/

.form {
    padding: 20px;
}

.submit-btn {
    background-color: orangered;
    font-size: 30px;
    color: white;
    margin: 20px;

}

/*----------profile page*/

.edit-btn,
.remove-btn {
    color: white;
    text-decoration: none;
    width: 100px;
}

.edit-btn i,
.remove-btn i {
    color: white;
}



/*----------footer*/

footer {
    height: 800px;
    background-color: black;
}

height: 800px;
background-color: black;
}