/*----------font*/
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

body{
    font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: black;
}
/*----------Colors*/




/*----------nav-bar*/

.navbar {
    background-color: black;
}
.nav-item{
    padding-right: 10px;
}
/*---------logoblock  duwt de nav li naar rechts*/
.logo-block{
    padding-right: 200px;
}

.logo{
    font-size: 30px;
    color: white;
    text-decoration: none;
}


.logo:hover{
    color: white;
}
.navbar i{
    color: white;
}

.nav-item a{
    color: white;
}
header{
    background-color: black;
}

header.masthead {
    margin-bottom: 50px;
    background: no-repeat center center;
    background-color: #868e96;
    background-attachment: scroll;
    position: relative;
    background-size: cover;

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes hero-zoom {
    from{
        transform: scale(1.0);
    }
    to{
        transform: scale(1.1);
    }
}

header.masthead .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #212529;
    opacity: 0.5;
}

header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
    padding: 200px 0 150px;
    color: white;
}

@media only screen and (min-width: 768px) {
    header.masthead .page-heading,
    header.masthead .post-heading,
    header.masthead .site-heading {
        padding: 200px 0;
    }
}


@media only screen and (min-width: 768px) {
    header.masthead .page-heading h1,
    header.masthead .site-heading h1 {
        font-size: 80px;
    }
}



header.masthead .post-heading .subheading {
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0 30px;
    font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}



header.masthead .post-heading .meta a {
    color: #fff;
}

@media only screen and (min-width: 768px) {
    header.masthead .post-heading h1 {
        font-size: 55px;
    }
    header.masthead .post-heading .subheading {
        font-size: 30px;
    }
}

.hvr-underline-reveal:before {
    background: orangered;

}

footer{
    height: 800px;
    background-color: black;
}