/*----------font*/



/*----------Colors*/




/*----------nav-bar*/


/*----------hero image*/

#hero-image{
    height:600px;
    width: 100%;
    background: url("assets/css/hero-image.jpg") no-repeat center center; 

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#hero-outer{
    height:600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

