<!DOCTYPE html>
<html lang="en">
<head>
    <!--meta information-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="A website where you can share and find new BBQ recipes.">
    <meta name="keywords" content="BBQ, Meat-lovers, Meat, Cooking, outside, friends">
    <meta name="author" content="Paul Dijxhoorn">

    <!--links, libraries and scripts-->
    <link rel="stylesheet" href="../assets/css/style.css" type="text/css"/>


    <title>BBQ wit Friends</title>
</head>
<body>
    <!-- Nav-Bar -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
          <a class="navbar-brand" href="{{ url_for('index') }}">BBQ with Friends</a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('index') }}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('about') }}">recipes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('contact') }}">search</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('careers') }}">log-in</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

       <!-- Page Header -->
  <header >
    <section id="hero-outer">
        <div id="hero-image"></div>
        
    </section>
  </header>

</body>
</html>