<!DOCTYPE html>
<html lang="en">

<head>
    <!--meta information-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A website where you can share and find new BBQ recipes.">
    <meta name="keywords" content="BBQ, Meat-lovers, Meat, Cooking, outside, friends">
    <meta name="author" content="Paul Dijxhoorn">

    <!--links, libraries and scripts-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/bd7115edaf.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.1.1/css/hover-min.css" type="text/css" />
    <link rel="stylesheet" href="../static/css/style.css" type="text/css" />

    <!--links, libraries and scripts-->
    <link rel="icon" type="image/png" href="static/images/favicon.png">


    <title>BBQ wit Friends</title>
</head>

<body>

    <!--Nav-bar-->

    
    <nav class="navbar navbar-expand-lg sticky-top" id="mainNav">
        <div class="container col-12">
            <div class="logo-block">
                <a class="logo hvr-underline-reveal" href="{{ url_for('index') }}">
                    <i class="fas fa-hamburger"></i>
                    <span> BBQ with Friends</span>
                </a>
            </div>

            <button class="navbar-toggler navbar-toggler-right" type="button" id="nav-btn">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarResponsive">

                <form action="{{ url_for('search') }}" method="post" class="col s12">
                    <div class="row valign-wrapper center-align">
                        <div class="input-field col-12 center">

                            <input type="text" name="query" id="query" minlength="3" class="validate" placeholder="Search recipes" required>
                            <button type="submit" class="btn base-btn">
                                <i class="fas fa-search left"></i> Search
                            </button>
                        </div>

                    </div>
                </form>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link hvr-underline-reveal" href="{{ url_for('index') }}">
                            <h4>Home</h4>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link hvr-underline-reveal" href="{{ url_for('recipe') }}">
                            <h4>Recipes</h4>
                        </a>
                    </li>
                    {% if session.user %}
                    <li class="nav-item">
                        <a class="nav-link hvr-underline-reveal" href="{{ url_for('profile', username=session['user']) }}">
                            <h4>Profile</h4>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link hvr-underline-reveal" href="{{ url_for('addRecipies') }}">
                            <h4>Add recipes</h4>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link hvr-underline-reveal" href="{{ url_for('logout') }}">
                            <h4>Log out</h4>
                        </a>
                    </li>
                    {% if session.user|lower == "admin"|lower %}
                    <li class="nav-item">
                        <a class="nav-link hvr-underline-reveal" href="{{ url_for('adminpage') }}">
                            <h4>Admin</h4>
                        </a>
                    </li>
                    {% endif %}
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link hvr-underline-reveal" href="{{ url_for('login') }}">
                            <h4>Login</h4>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link hvr-underline-reveal" href="{{ url_for('register') }}">
                            <h4>Register</h4>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <br>
        <!--off canvas Nav-bar-->
        <div id="navMenu" class="col-12">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link col-12 center" href="{{ url_for('index') }}">
                        <h4>Home</h4>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link col-12 center " href="{{ url_for('recipe') }}">
                        <h4>Recipes</h4>
                    </a>
                </li>
                {% if session.user %}
                <li class="nav-item">
                    <a class="nav-link col-12 center" href="{{ url_for('profile', username=session['user']) }}">
                        <h4>Profile</h4>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link col-12 center" href="{{ url_for('addRecipies') }}">
                        <h4>Add recipes</h4>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link col-12 center" href="{{ url_for('logout') }}">
                        <h4>Log out</h4>
                    </a>
                </li>
                {% if session.user|lower == "admin"|lower %}
                <li class="nav-item">
                    <a class="nav-link col-12 center" href="{{ url_for('adminpage') }}">
                        <h4>Admin</h4>
                    </a>
                </li>
                {% endif %}
                {% else %}
                <li class="nav-item">
                    <a class="nav-link col-12 center" href="{{ url_for('login') }}">
                        <h4>Login</h4>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link col-12 center" href="{{ url_for('register') }}">
                        <h4>Register</h4>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

<section id="hero-outer">
    <div class="hero-image" style="background-image: url('static/images/hero-image.jpg')">
        <div class="overlay col-12"></div>
        
            <div class="row g-0 hero-text-box"> 
                    <div class="center hero-text">
                        <h1>BBQ with Friends </h1>
                        <span class="subheading">A website for sharing and storing recipes.</span>
                    </div>
                
            </div>
        
    </div>
</section>

    <section>
        <!-- flash messages -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="col-12 g-0 flashes center">
            <h2 class="errorMsg">{{ message }}</h2>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </section>

    <main class="col-12 g-0">
        {% block content %}
        {% endblock %}
    </main>




    <footer class="col-12 row justify-content-center">
        <div class="col-4 footer-content center">© 2021 BBQ with Friends<br>Paul Dijxhoorn </div>
    </footer>   
  

    <script src="static/js/navbar.js"></script>
    <script type="text/javascript" src="static/js/tilt.js"></script>

</body>

</html>