{% extends "base.html" %}
{% block content %}
<h1 class="text-center">Home Page</h1>

<h3 class="center">what is the site about </h3>
<p class="center">On this site you will be able find, make, share and store BBQ recipies. Dont wait but register yourself so you can start now!
     </p>

<h3 class="center"> the last 3 new recipies </h3>



<!--now it shows all recipe's set it so only the last 3 entrys are shown-->
<div class="cardBox row col-12 g-0">
    {%for recipe in newRecipies%}
    <a href="{{ url_for('singleRecipe', recipe_id=recipe._id) }}" class="col-sm-12 col-md-6 col-lg-4 g-0 cardlink">
    <div class="card col-12">
        <div class="content">
            <h3>{{recipe.Name_dish}}</h1>
            <p>Recipe by: {{recipe.created_by}}</p>
            <div class="photobox col-12 center center-align">
                <img class="recipe-photo col-6 center center-align" src="{{recipe.Photo_link}}">
            </div>
            <br>
             <p><i class="fas fa-clock"></i>  {{recipe.preperation_time}}/p>
            <br>
             <p class="ingredients-list"><i class="fas fa-plus-circle"></i>  {{recipe.ingredients}}</p>
            <br>
            <div class="cardlink col-12 center center-align">
                <p>Click on the card to see full recipe</p>
                
            </div> 
        </div>
    </div>
</a>
    {% endfor%}
</div>

<h3> Buy my fancy gear</h3>
{% endblock %}