{% extends "base.html" %}
{% block content %}
<h1 class="text-center">Home Page</h1>

<h3 class="center">what is the site about </h3>
<p class="center explanation-site">On this site you will be able find, make, share and store BBQ recipes. 
    And you can send messages to others on the site to compliment there dish 
or suggest alterations. Don't wait but <a href="{{ url_for('register') }}">
    Register</a> yourself so you can start now!

     </p>

<h3 class="center"> the last 3 new recipes </h3>



<!--now it shows all recipe's set it so only the last 3 entrys are shown-->
<div class="cardBox row col-12 g-0">
    {%for recipe in newRecipies%}
    <div class="card col-sm-12 col-md-6 col-lg-4 g-0">
        <div class="content">
            <div class="col-12 row g-0 row justify-content-between">
                <p class="col-9">Recipe by: {{recipe.created_by}}</p>
                
                </div>
            <h3 class="center">{{recipe.Name_dish}}</h3>
            
            <div class="photobox col-12 center center-align">
                <img class="recipe-photo col-6 center center-align" src="{{recipe.Photo_link}}" alt="recipe photo">
            </div>
            <br>
             <p><i class="fas fa-clock"></i>  {{recipe.preperation_time}}</p>
             <p class="ingredients-list"><i class="fas fa-plus-circle"></i>  {{recipe.ingredients}}</p>
        
            <div class="cardlink col-12 center center-align">
                <a href="{{ url_for('singleRecipe', recipe_id=recipe._id) }}" class="cardlink">
                Click here to see full recipe
                </a>
            </div> 
        </div>
    </div>
    {% endfor%}
</div>


{% endblock %}