{% extends "base.html" %}
{% block content %}
<h1 class="center"> profile</h1>

<h3>{{ username }}'s Profile</h3>

<h1>user since</h1>
<h1>recipies added</h1>


<h1>find all recipies made by this user and show them.</h1>

<h1>function to delete recipies</h1>
<h1>function to update recipies</h1>
<h1>function to add recipies</h1>

{%for recipe in userRecipe%}
<div class="col-md-6 list-inline-item recipe-block">
    <div class="col-4 list-inline-item">
        <button type="submit" id="edit" class="btn submit-btn edit-btn">
            <h6>Edit </h6> <i class="fas fa-folder-plus"></i>
        </button>
    </div>
    <div class="col-4 list-inline-item">
        <button type="submit" class="btn submit-btn remove-btn">
            <h6>Delete </h6> <i class="far fa-trash-alt"></i></i>
        </button>
    </div>
    <p>genre: {{recipe.category_name}}</p><br>
    <h1>{{recipe.Name_dish}}<br></h1>
    <p>recipe by still have to connect</p>
    <i class="fas fa-clock"></i> {{recipe.preperation_time}}<br>
    <i class="fas fa-plus-circle"></i> {{recipe.ingredients}}<br>
    <i class="fas fa-check-circle"></i> {{recipe.Other_requirments}}<br>
    <i class="fas fa-clipboard-list"></i> {{recipe.explanation}}<br>
    <img class="recipe-photo" src="{{recipe.Photo_link}}"> <br>

</div>
{% endfor%}

<!-- bug fix  how to get this code from navbar js via the base template?? -->
<!-- bug fix  how to get this code from navbar js via the base template?? -->
<!-- bug fix  how to get this code from navbar js via the base template?? -->
<script>
    document.getElementById("navMenu").style.display = "none";

    document.getElementById("nav-btn").addEventListener("click", navBarToggle);

    function navBarToggle() {
        var x = document.getElementById("navMenu");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>

{% endblock %}