{% extends "base.html" %}
{% block content %}
<h1 class="text-center">recipies</h1>

<i class="far fa-heart"></i>
<i class="fas fa-heart"></i>


<div class="row center col-12 g-0 search-block">
    <form action="{{ url_for('search') }}" method="post" class="col s12">
        <div class="row valign-wrapper center-align">
            <div class="input-field col-12 center">

                <input type="text" name="query" id="query" minlength="3" class="validate" placeholder="Search recipies" required>
                <button type="submit" class="btn base-btn">
                    <i class="fas fa-search left"></i> Search
                </button>
                <a href="{{ url_for('recipe') }}" class="btn base-btn">Reset</a>
            </div>

        </div>
    </form>
</div>


<div class="row col-12 g-0">
    {%for recipe in recipies%}


    <div class="col-md-6 recipe-block">
        <p> Type of dish: {{recipe.category_name}}</p>
        <h1>{{recipe.Name_dish}}</h1>
        <p>Recipe by: {{recipe.created_by}}</p>
        <i class="fas fa-clock"></i> {{recipe.preperation_time}}<br>
        <i class="fas fa-plus-circle"></i> {{recipe.ingredients}}<br>
        <i class="fas fa-check-circle"></i> {{recipe.Other_requirments}}<br>
        <i class="fas fa-clipboard-list"></i> {{recipe.explanation}}<br>
        <img class="recipe-photo" src="{{recipe.Photo_link}}"> <br>

      <a href="{{ url_for('singleRecipe', recipe_id=recipe._id) }}" >Read more</a> 
    </div>
    {% endfor%}
</div>

{% endblock %} recipe_id=recipe._id