{% extends "base.html" %}
{% block content %}
    <h1 class="text-center"> register</h1>

    <form class="col-12 row justify-content-center form" method="POST" action="{{ url_for('register') }}">
        <div class="col-lg-6 col-sm-12" >
          <!--Email-->
        <div>
          <label for="email" class="form-label">Email address</label>
          <input type="email" name="email" class="form-control" id="Email" aria-describedby="emailHelp" >
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <!--Username-->
        <div>
            <label for="username" class="form-label">Username</label>
            <input type="text" name="username" class="form-control" id="username" aria-describedby="Username"
              minlength="3" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
            <div class="form-text">What would you like us to call you?</div>
          </div>
          <!--Password-->
        <div>
          <label for="password" class="form-label">Password</label>
          <input type="password" name="password" class="form-control" id="password" 
            minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
          <div class="form-text">Your password should between 5 and 15 characters long and made up of letters and numbers.</div>
        </div>
        <!--Password confirm-->
        <div>
            <label for="passwordconfirm" class="form-label">Confirm password</label>
            <input type="password" name="passwordconfirm" class="form-control" id="passwordconfirm">
            <div class="form-text">typ your password again to check.</div>
          </div>
        <button type="submit" class="btn submit-btn">Submit</button>
    </div>
      </form>
      
      <div class="row">
        <div class="col s12">
            <p class="center">
                Already a user?
                <a href="{{ url_for('login') }}" class="center">Log in here</a>
            </p>
        </div>
    </div>  
{% endblock %}